.table {
  border-radius: 12px;
  overflow: hidden;
}

.table thead {
  background-color: var(--primary-main);
  color: #ffffff;
}
.table tbody tr {
  transition: all 0.2s ease;
}

.table thead th {
  font-weight: 600;
  border: none;
}

.table tbody tr:hover {
  background-color: #fff0f6;
  transition: 0.2s ease;
   transform: scale(1.01);
}

.table td {
  vertical-align: middle;
}
/* ✅ View */
.btn-view {
  background-color: #0d6efd;
  color: white;
  border: none;
}
.btn-view:hover {
  background-color: #0b5ed7;
  color: white;
}

/* ✅ Add */
.btn-add {
  background-color: #970747;
  color: white;
  border: none;
}
.btn-add:hover {
  background-color: #C2185B;
  color: white;
}

/* ✅ Edit */
.btn-edit {
  background-color: #f59e0b;
  color: white;
  border: none;
}
.btn-edit:hover {
  background-color: #d97706;
  color: white;
}

/* ✅ Delete */
.btn-delete {
  background-color: #dc3545;
  color: white;
  border: none;
}
.btn-delete:hover {
  background-color: #bb2d3b;
  color: white;
}

/* ✅ History */
.btn-history {
  background-color: #6f42c1;
  color: white;
  border: none;
}
.btn-history:hover {
  background-color: #5a32a3;
  color: white;
}

/* ✅ Upload / Document */
.btn-upload {
  background-color: #0d9488;
  color: white;
  border: none;
}
.btn-upload:hover {
  background-color: #0f766e;
  color: white;
}
.vehicle-card {
  border-radius: 12px;
  overflow: hidden;
}
.modal-header {
  background: linear-gradient(90deg, var(--primary-main), var(--primary-light));
  color: #ffffff;
  
}
.modal{
    margin-top: 5%;
}

.modal-content {
  border-radius: 14px;
  overflow: hidden;
}

.modal-footer .btn-primary {
  background-color: var(--primary-main);
  border: none;
}

.modal-footer .btn-primary:hover {
  background-color: var(--primary-dark);
}

@media (max-width: 768px) {

  .table thead {
    display: none;
  }

  .table, 
  .table tbody, 
  .table tr, 
  .table td {
    display: block;
    width: 100%;
  }

  .table tr {
    margin-bottom: 15px;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  }

  .table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 15px;
    font-weight: 600;
    text-align: left;
    color: var(--primary-main);
  }
}